*.o
*.a
Makefile
core
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
rc
rdm
js
clangtest
gr
.gdb_history
/.ninja_log
/build.ninja
/rules.ninja
/.gdb_brestore
/.gdb_brestore.txt
/src/include/rct/rct-config.h
/bin/librtagsclang.so
/src/librtags.dylib
/src/librtags.so
/.ninja_deps
/compile_commands.json
/tests/dtlcpptest/dtlcpptest
