[submodule "src/rct"]
	path = src/rct
	url = https://github.com/Andersbakken/rct
[submodule "src/auto-complete"]
	path = src/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule "src/dtl-cpp"]
	path = src/dtl-cpp
	url = https://code.google.com/p/dtl-cpp/
